<div class="my-nav">
  <div class="container">
    <ul>
      <li>{{#link-to 'index'}}Blog{{/link-to}}</li>
      <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
      <li>{{#link-to 'new-post'}}New Post{{/link-to}}</li>
    </ul>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
