<h1>New Comment</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="comment">Comment</label>
        {{input value=comment id="comment"}}
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=name id="name"}}
      </div>
      <button {{action 'saveComment'}}>Save</button>
    </form>
  </div>
